@import '../../styles';
@import '../nav/nav.component';

$nav-icon-size: $nav-bar-height / 2;
$nav-text-size: $nav-icon-size + 3;

$nav-text-font: 'Fjalla One', sans-serif;

$nav-item-hover-transition: 0.3s;

.nav-icon {
  font-size: $nav-icon-size;
  padding-right: $nav-icon-size / 2.5;
}

.nav-text {
  font-size: $nav-text-size;
  font-family: $nav-text-font;
  text-transform: uppercase;
  position: relative;
  top: 1px;
}

.nav-item {
  color: $nav-item-color;
  text-decoration: none;

  &:hover {
    color: $nav-item-hover-color;
    transition: $nav-item-hover-transition;
  }
}
