@import '../styles/layout';

$nav-bar-height: 50px;
$nav-icon-size: 32px;

$nav-bar-padding: ($nav-bar-height / 2);
$nav-icon-padding: ($nav-icon-size / 2);

$nav-bar-bg-color: rgba(238, 241, 243, $default-color-transparency);
$nav-icon-color: rgba(165, 174, 181, $default-color-transparency);
$nav-icon-hover-color: rgba(250, 156, 80, $default-color-transparency);
