@import '../styles/navbar';
@import '../styles/featured';
@import '../styles/layout';

%solid-layout {
  position: fixed;
  left: 0px;
  right: 0px;
  display: block;
}

.nav-bar {
  background-color: $nav-bar-bg-color;
  @extend %solid-layout;
  top: 0px;
  height: $nav-bar-height;
  padding: 0 $nav-bar-padding 0 $nav-bar-padding;
}

.nav-icon {
  font-size: $nav-icon-size;
  padding: 0 $nav-icon-padding 0 $nav-icon-padding;
  color: $nav-icon-color;
}

.nav-icon:hover {
  color: $nav-icon-hover-color;
}

.featured {
  background-color: $featured-bg-color;
  @extend %solid-layout;
  top: $nav-bar-height + $container-padding;
  height: $featured-height;
}
