<div class="nav-bar" fxLayout="row" fxLayoutAlign="center center">
  <div><i class="fas fa-home nav-icon"></i></div>
  <div><i class="fas fa-globe-asia nav-icon"></i></div>
  <div><i class="fas fa-code nav-icon"></i></div>
  <div><i class="fas fa-at nav-icon"></i></div>
</div>
<div class="featured" fxLayout="row" fxLayoutAlign="space-evenly center">
    <div>SLIDE 1</div>
    <div>SLIDE 2</div>
    <div>SLIDE 3</div>
</div>
<!--
  45px navbar, top, no padding/margins, full width
  205px featured info, (summary of important parts of page)
  rest of page is the content, navbar never leaves
  row of cool icons to interesting things like travel
-->
