<app-nav></app-nav>

<!-- <div class="featured" fxLayout="row" fxLayoutAlign="space-evenly center">
  <div>SLIDE 1</div>
  <div>SLIDE 2</div>
  <div>SLIDE 3</div>
</div> -->

<!--
  TODO:
  - Convert navbar to component
  - Build the layout
  - Think of more sections/features
  - Text instead of icons?
  - Special font perhaps
  - Make a mockup in MSPaint
  - Auto generate menu and everything else from database
-->
<!--
  45px navbar, top, no padding/margins, full width
  205px featured info, (summary of important parts of page)
  rest of page is the content, navbar never leaves
  row of cool icons to interesting things like travel
-->
