<div class="featured" fxLayout="row" fxLayoutAlign="space-between">
  <div fxShow fxHide.xs="true" fxFlex="50%" class="featured-img"></div>
  <div fxShow fxHide.xs="true" fxFlex="1px" class="featured-border"></div>
  <div class="featured-text" ngClass.xs="featured-img">
    <h1>I'm married!</h1>
    <h4>12 comments | 4,238 views | June 24th, 2016</h4>
    <p>As of last week I am officially married. I met my wife in Chile and that is where we had the wedding. Her entire family was there but my family didn't make it because of how far it was. Weeks later when we were in Canada we also had a reception with my family. After that we began our trip to ...</p>
  </div>
</div>
